---
import DiscordCard from '@/components/DiscordCard.tsx'
import FeaturedBlogsCard from '@/components/FeaturedBlogsCard.astro'
import GalleryCard from '@/components/GalleryCard.astro'
import InfiniteScrollCard from '@/components/InfiniteScrollCard.astro'
import PageHead from '@/components/PageHead.astro'
import ProfileCard from '@/components/ProfileCard.astro'
import Layout from '@/layouts/Layout.astro'
---

<Layout class="max-w-4xl">
  <PageHead slot="head" title="Home" />

  <!-- Bento Grid Layout -->
  <section
    class="mx-auto grid max-w-sm grid-cols-2 gap-3 p-3 sm:max-w-2xl sm:gap-4 sm:p-4 lg:max-w-4xl lg:grid-cols-3 lg:gap-6 lg:p-6"
  >
    <!-- Profile Card -->
    <div
      class="col-span-2 min-h-[180px] sm:col-span-2 sm:min-h-[200px] lg:col-span-2 lg:min-h-[240px]"
    >
      <ProfileCard />
    </div>

    <!-- Discord Card -->
    <div
      class="col-span-2 min-h-[160px] sm:col-span-1 sm:min-h-[200px] lg:col-span-1 lg:min-h-[240px]"
    >
      <DiscordCard client:load />
    </div>

    <!-- Featured Blogs Card -->
    <div
      class="col-span-2 min-h-[160px] sm:col-span-1 sm:min-h-[180px] lg:col-span-1 lg:min-h-[220px]"
    >
      <FeaturedBlogsCard />
    </div>

    <!-- Gallery Card -->
    <div
      class="col-span-2 min-h-[160px] sm:col-span-2 sm:min-h-[180px] lg:col-span-2 lg:min-h-[220px]"
    >
      <GalleryCard />
    </div>

    <!-- Infinite Scroll Card -->
    <div
      class="col-span-2 min-h-[200px] sm:col-span-2 sm:min-h-[240px] lg:col-span-3 lg:min-h-[280px]"
    >
      <InfiniteScrollCard />
    </div>
  </section>
</Layout>
