---
import { Icon } from 'astro-icon/components'
---

<div class="bg-card text-card-foreground h-full rounded-lg border p-6">
  <div class="flex h-full flex-col">
    <div class="mb-4 space-y-2">
      <h1 class="text-foreground text-3xl font-bold">Intro!</h1>
      <p class="text-muted-foreground text-sm leading-relaxed">
        Hey everyone! I'm holywater and I like to learn anything and everything that interests me includes computing, cyber, dev and what not.
      </p>
      <p class="text-muted-foreground text-sm leading-relaxed">
        Strawberry Latte is god. I love it. This is really good. I want to drink
        it. Is Strawberry Latte good?
      </p>
      
      <p
        class="text-muted-foreground flex items-center gap-2 text-sm leading-relaxed"
      >
        I'm curre
        <Icon name="lucide:sparkles" class="size-4 text-yellow-500" />
      </p>
      
    </div>
  </div>
</div>
