---
import { Icon } from 'astro-icon/components'
import Link from '@/components/Link.astro'
import TextType from '@/components/TextType/TextType.tsx'
---

<div class="bg-card text-card-foreground h-full rounded-lg border p-6">
  <div class="flex h-full flex-col">
    <div class="mb-4 space-y-2">
      <h1 class="text-foreground text-3xl font-bold">Intro!</h1>
      
      <div class="text-muted-foreground text-sm leading-relaxed">
        <TextType
          text={[
            "Hey everyone! I'm Nazeef Khan, I like to learn anything and everything that interests me includes computing, cyber, dev....",
            "Living life playing chess and coping up with my imposter syndrome.",
          ]}
          loop={false}
          client:visible
        />

        <p class="text-[12px] text-muted-foreground">
      This blog was made possible with the help of
      <Link
              href="https://github.com/snow0406"
              class="text-foreground"
              underline
              external>hyukii</Link
            >.
       and using enscribe's 
      <Link
              href="https://github.com/jktrn/astro-erudite"
              class="text-foreground"
              underline
              external>astro-erudite</Link
            >template. Go check them out!
        <p class="mt-4">
          <Icon name="lucide:sparkles" class="size-4 text-yellow-500" />
        </p>

      </div>
    </div>
  </div>
</div>