/* src/components/TextType/TextType.css */

.text-type {
  display: inline-block;
  white-space: pre-wrap;
}

.text-type__cursor {
  margin-left: 0;
  display: inline-block;
  opacity: 1;
  color: #00ff00;
}

.text-type__cursor--hidden {
  display: none;
}